* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 

.container {
  display: grid;
  grid-template-rows: minmax(10vh, auto);
}

.footer {
  background-image:url(./utils/blobs/Wave.svg);
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-icon {
  zoom: 1.5;
  cursor: pointer;
  box-shadow: 0px 0px 5px silver;
}

.phone-icon {
  zoom: 2;
}
 
.explore-icon {
  color: #380675;
  margin: 0px 10px;
  cursor: pointer;
}

.explore-icon:hover {
  transform: rotate(50deg);
}

